*~
build/*
build-*/*
.waf*
.lock-waf*
install-deps/luajit*
install-deps/LuaJIT*
install-deps/eigen-*
install-deps/adios*
install-deps/luarocks*
install-deps/openmpi*
install-deps/zeromq*
install-deps/czmq*
install-deps/build-opts.sh
*/*.pyc
Unit/*.bp
*/*.bp
Regression/*/*.bp
*.swp
*.log
.DS_Store
Basis/.DS_Store
Eq/.DS_Store
cas-scripts/.DS_Store
Regression/runregression.config.lua
Regression/*/*.bp
runregression.config.lua
waf_tools/__pycache__/
